.form {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  background-color: hsl(200,10%,80%);

  position: relative;
  left: 50%;
  transform: translate(-50%,0%);

  textarea {
    display: block;
    min-width: 290px;
    min-height: 200px;
  }

  input {
    display: block;
    padding: 5px;
    width: 200px;
  }
  button {
    display: block;
    padding: 5px;
    width: 200px;
  }
  label {
    display: block;
    padding: 5px;
    text-align: left;
  }
}

.form-select {
  text-align: left;
}

.form-select select {
  width: 200px;
  padding: 3px;
  margin-bottom: 5px;
  // display: none; /*hide original SELECT element: */
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}